* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('anh_web/back2.jpg'); /* Đường dẫn đến hình ảnh nền */
    background-size: cover; /* Chiều rộng và chiều cao của hình ảnh sẽ được co dãn để phù hợp với khu vực nền */
    background-position: center; /* Đặt hình ảnh nền ở giữa */
    background-attachment: fixed; /* Giữ hình ảnh nền cố định khi cuộn trang */
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}

/* Các kiểu khác cho trang web */
main {
    padding: 20px;
}

/* Style for the cart */
.cart {
    margin-top: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.cart h2 {
    margin-bottom: 5px;
    text-align: center;
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

#cart-items li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#cart-items li:last-child {
    border-bottom: none;
}

.cart-item-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 4px;
}

/* Styling for the cart total */
#cart-total {
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.cart1 button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 5px;
}

.cart button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
}
.cart button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
