/* Reset some default styles for the page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}
main {
    padding: 20px;
}
li{
    marker: none;
}
.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.search-form input[type="text"] {
    padding: 2px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-form button {
    padding: 2px ;
    font-size: 16px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #333;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #555;
}
.product-details {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.product-details .product-info {
    display: flex;
    align-items: center;
}

.product-details .product-info .product-detail-content {
    display: flex;
}

.product-details .product-info .product-detail-content .product-image {
    margin-right: 20px;
}

.product-details .product-info .product-detail-content .product-image img {
    max-width: 100%;
    height: auto;
}

.product-details .product-info .product-detail-content .details {
    flex: 1;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
